deepeval
langchain
langgraph
langchain-core
langchain-aws
boto3
python-dotenv
langchain-mcp-adapters
mcp
chromadb
langchain-text-splitters
langchain-community
tiktoken
playwright
pytest-playwright
langfuse
openpyxl
flask
